*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(background.png);
    text-transform: capitalize;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* height: 10000; */
}
.head{
    background-image: url(head.png);
    height: 80px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

h2{
    text-align: center;
    margin: 20px 0;
    font-size: 40px;
}
.container{
    width: 70%;
    margin: 20px auto;
    overflow: hidden;
    border: 2px solid grey;
}
.container .left{
    width: 70%;
    display: inline-block ;
    float: left;
}
.container .left-h{
    background-image: url(rotten_background.png);
    position: relative;
    font-family: tahoma;
}
.container .left-h img{
    width: 35px;
    height: 35px;
    margin: 18px;
    display: inline-block;
}
.fresh{
    color: orange;
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    left: 10px;
    bottom: 10px;
}
.container .left-h p{
    display: inline-block;
    position: relative;
    bottom: 18px;
    color: #EEE;
}
.container .left-h p span{
    font-size: 50px;
    font-weight: bold;
    color: red;
}
.left .left-content{
    float: left;
}
.left .right-content{
    float: right;
}
.left .left-content, .left .right-content{
    display: inline-block;
    width: 49%;
}
.left .content{
    padding: 10px;
    overflow: hidden;
}
.left .content .box{
    margin: 0 0 20px 0;
}
.left .content .box .inner , .outer{
    padding: 5px;
    font-size: 12px;
    font-weight: bold;
}
.left .content  .box .inner {
    border: 1px solid;
    background-color: palegoldenrod;
}
.left .content  img,.left .content p{
    display: inline-block;
}
/* .left .content .left-content img{
    width: 10%;
}
.left .content .left-content p{
    width: 80%;
} */


.right{
    width: 30%;
    display: inline-block;
    float: right;
    background-color: #A2B964;
    /* height: 100%; */
}
.right img{
    width: 100%;
}

.right .content{
    padding: 10px;
    font-weight: bold;
}
.right .content h3{
    text-transform: uppercase;
}
.right .content p{
    margin: 10px 0 10px 40px;
}

.footer{
    background-color: #A2B964;
    padding: 10px;
    text-align: center;
}


.clear{
    clear: both;
}